Storage/StorageDemo/.vs
Storage/StorageDemo/bin
Storage/StorageDemo/obj
Storage/StorageDemo2/.vs
Storage/StorageDemo2/bin
Storage/StorageDemo2/obj
Storage/StorageDemo3/.vs
Storage/StorageDemo3/obj
Storage/StorageDemo3/bin
Storage/.vs
